.logo__container img{
    width: 10rem;
    height: auto;
}



@media screen and (max-width: 420px){
    .logo__container img{
        width: 7rem;
    }
}

@media screen and (max-width: 300px){
    .logo__container img{
        width: 5rem;
    }
}